*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* style header */

.header{
    padding: 25px;
    background-color: white;
    display: flex;
    justify-content: space-between;
}
.logo{
    text-align: left;
    font-size: 30px;
    font-weight: bold;
}
.menu-nav{
    display: flex;
    list-style: none;
    gap: 25px;
    align-items: center;
}
.menu-nav a{
    text-decoration: none;
    color: rgb(90, 85, 85);
}
.main-header{
    background-color: #eef2ff;
    padding: 30px 0px 30px 0;
    margin: 18px 0px 20px 0px;
    text-align: center;
}
.title{
    padding-bottom: 25px;
}